@font-face {
    font-family: 'Krasnodar Grotesk Trial';
    src: url('KrasnodarGroteskTrial-Regular.woff2') format('woff2'),
        url('KrasnodarGroteskTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

